<!DOCTYPE html>
<html>
    <head>
        <title>
            FirstNodeApp
        </title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
<body>
 {{>header}}
    <h1 style="text-align: center;">
       In about file !!
    </h1>
     <h4 style="text-align: center;">
      welcome friends !!<br> {{name}}<br> your age is {{age}}
    </h4>
    <img src="./img/Shubham Pawar.jpg" style="align-items: center;">
    {{>footer}}
</body>

</html>