<!DOCTYPE html>
<html>
    <head>
        <title>
            FirstNodeApp
        </title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
<body>
      {{>header}}

    <h1 style="text-align: center;">
       {{msg}}
    </h1>

        {{>footer}}
</body>

</html>